{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container">
    <h1>Análisis de Eventos y Taxis</h1>

    <div class="map-pelis-container">
        <div class="map-pelis-header">
            <h1>🚕 Mapa de calor de taxis y de <span>Eventos 📽️​</span></h1>
            <p>Explora los puntos de interes y las zonas más demandas de Nueva York</p>
        </div>

        <div class="map-pelis-wrapper">
            {{ mapa_pelis | safe }}
        </div>
    </div>

    <div class="interactive-section">
        <div class="controls">
            <label>Mostrar Top:</label>
            <input type="number" id="input-topN" value="{{ topN_actual }}" min="5" max="50" step="5">
            <button id="btn-update">Actualizar Gráficas</button>
        </div>

        <div class="grid">
            <div id="container-g1">{{ grafica1 | safe }}</div>
            <div id="container-g2">{{ grafica2 | safe }}</div>
            <div id="container-g3">{{ grafica3 | safe }}</div>
        </div>
    </div>

    <div class="static-section">
        <div id="container-g4">{{ grafica4 | safe }}</div>
        <div id="container-g5">{{ grafica5 | safe }}</div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/event.js') }}"></script>

{% endblock %}
